mat-card{
    margin: 40px;
    padding: 30px;
    width: 80%;
}

div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.bot{
    position: absolute;
    bottom: 40px;
    right: 40px;
}